@font-face {
	font-family: axis;
	src: url(../fonts/axis.otf);
}

h1,h2,h3,h4,h5,a,p{
	font-family: 'Work Sans',Helvetica,Arial,sans-serif;
	font-weight: 300;
	line-height: 1.4;
	
}

h2{
	font-size: 32px;
	opacity: .8;
}

.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
	box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.hvr-underline-reveal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-reveal:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0024fe;
	height: 2px;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}




.navbar{
	padding-top: 40px;
	position: absolute;
	border:none;
	background:none;
	margin-bottom: 0;
	padding-bottom: 30px;
	
	width: 100%;
}

.navbar-brand{
	padding: 0;
	padding-left: 80px;
	margin-left: 0;
	margin-top: 5px;
	height: auto;
}

.navbar-right{
	padding-right: 80px;
}

.navbar-default .navbar-nav>li>a{
	font-size: 12px;
	color: #aaa;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
	padding: 0;
	padding-bottom: 5px;
	margin-left: 40px;
	-webkit-transition: all 0.4s ease;
	-moz-transition:  all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background:none;
	color: #0024fe;


}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #0024fe;
	-webkit-transition: all 0.4s ease;
	-moz-transition:  all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.btn-default{
	color: #fff;
	background: none;
	border: 2px #fff solid;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 10px;
	padding: 13px 42px;
	font-weight: 500;
	letter-spacing: 2px;

	-webkit-transition: all 0.4s ease;
	-moz-transition:  all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.btn-default:hover, .btn-default:focus, .btn-default:active{
	background: #fff;
	color: #0024fe;
	border-color:#fff;
	
}




.intro{
	padding: 80px 80px 40px 80px;
	height: 100vh;
	
	width: 100%;
	text-align: center;
}



.background{
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat; 
	display: table;
	height: 100%;
	width: 100%;
	

}



.mouse-bg {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: fixed;
	z-index: -1;
}


.intro .inner{
	display: table-cell;
	vertical-align: middle;
}

.intro .inner .logo{
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.intro .inner-text{
	width: 300px;
	margin: 0 auto;
}

.intro .inner-text a{
	color: #fff;
	padding-top: 20px;
	font-weight: 400px;
	font-size: 12px;
}


.intro .inner-text p{
	
	display: block;
	margin: 0 auto;
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: justify;
	margin-top: 20px;
}




.work{
	padding: 120px 0;
}

.header{
	height: 100px;
	margin-bottom: 20px;
	text-align: center;
}

.header .diagonal-line{
	height: 100px;
	width: 2px;
	position: absolute;
	left: 50%;
	background-color: #0024fe;
	-ms-transform: skewX(-45deg);
	-webkit-transform: skewX(-45deg);
	transform: skewX(-45deg);
}

.header h1{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 4px;

	padding-top: 41px;
	font-family: axis,'Work Sans',Helvetica,Arial,sans-serif;
}

.work .project{
	width:100%;
	margin:20px 0;
	
}

.title{
	color: #aaa;
	font-size: 16px;
	padding:0;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 2px;
}



.about .description{
	padding: 80px 0 200px;
	
	font-size: 22px;

}

.about .header{
	margin-top: 200px;
}

.about-page .navbar-default .navbar-nav>li>a{
	color: #fff;
}

.about-page  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background:none;
	color: #0024fe;


}



.about-bg{
	position: absolute;
	
	right: 0;
	z-index: -1;
}

.contact .contact-container{
	height: 100vh;
	width: 100%;
	display: table;
}

.contact .contact-container .contact-inner{
	display: table-cell;
	vertical-align: middle;

}

.contact .contact-container .contact-inner .diamond-container{
	width: 400px;
	height: 400px;
	margin: 0 auto;

}

.contact .contact-container .contact-inner .diamond-container .diamond{
	border: 2px #0024fe solid;
	width: 400px;
	height: 400px;
	position: absolute;
	
	z-index: -1;
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);
}

.contact .text-container{
	padding-top: 60px;
}

.contact .email {
	margin: 20px 0;
	text-align: center;
}

.contact .email a{
	color: #0024fe;
	font-size: 18px;

	
}

.contact .text{
	width: 200px;
	margin: 0 auto;
	text-align: justify;
	font-family: axis,'Work Sans',Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 2;
	font-size: 10px;
}










@media (min-width: 768px) {
	.container {
		width: 750px;
	}


}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}

}
@media (min-width: 1200px) {
	.container {
		width: 1150px;
	}
}


}