@font-face {
	font-family: axis;
	src: url(../fonts/axis.otf);
}

h1,h2,h3,h4,h5,a,p{
	font-family: 'Work Sans',Helvetica,Arial,sans-serif;
	font-weight: 300;
	line-height: 1.4;
	
}



a, a:hover{
	color: #6076FD;
}

.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
	box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.hvr-underline-reveal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-reveal:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	background: #6076FD;
	height: 3px;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}




.navbar{
	padding-top: 40px;
	border:none;
	background:none;
	margin-bottom: 0;
	padding-bottom: 22px;
	z-index: 100;
	position: absolute;
	width: 100%;
	
}

.navbar-brand{
	padding: 0;
	padding-left: 80px;
	margin-left: 0;
	margin-top: 5px;
	height: auto;
}

.navbar-right{
	padding-right: 80px;
	padding-left: 80px;
}


.navbar-default .navbar-collapse {
	border-top: none;
}

.navbar-default .navbar-nav li{
		
	
}

.navbar-default .navbar-nav>li>a{
	font-size: 12px;
	color: #aaa;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
	text-align: center;
	padding-top:5px;
	margin-left: 40px;
	-webkit-transition: all 0.4s ease;
	-moz-transition:  all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background:none;
	color: #6076FD;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #6076FD;
	-webkit-transition: all 0.4s ease;
	-moz-transition:  all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.btn-default{
	color: #fff;
	background: none;
	border: 3px #fff solid;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 12px;
	padding: 14px 60px;
	font-weight: 500;
	letter-spacing: 2px;
	-webkit-transition: all 0.4s ease;
	-moz-transition:  all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}



.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background:none;
	border: none;
	margin-top: 4px;
}

/* mobile nav for desktop */

/*.navbar-header {
	float: none;
}
.navbar-toggle {
	display: block;
	padding: 5px 80px 0 0;
	border: none;
	margin: 0;
	
}


.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
	
}
.navbar-nav>li {
	float: none;
}
.navbar-collapse.collapse.in {
	display: block !important; 

}*/


.btn-default:hover, .btn-default:focus, .btn-default:active{
	background: #fff;
	color: #6076FD;
	border-color:#fff;
	
}

.header{
	height: 80px;
	text-align: center;
}

.header .diagonal-line{
	height: 80px;
	width: 4px;
	position: absolute;
	left: 50%;
	background-color: #6076FD;
	z-index: -1;
	-ms-transform: skewX(-45deg);
	-webkit-transform: skewX(-45deg);
	transform: skewX(-45deg);
}

.header h1{
	font-size: 28px;
	font-weight: 400;
	padding-top: 30px;
	/*color: #6076FD;*/
}


.intro{
	padding: 90px 0 0;
	height: 100vh;
	
	width: 100%;
	text-align: center;
}



.background{
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat; 
	display: table;
	height: 100%;
	width: 100%;
	

}

.intro .inner{
	display: table-cell;
	vertical-align: middle;
	color: #fff
}

.intro .inner .logo{
	display: block;
	margin: 0px auto;
	
}

.intro .inner-text{
	margin: 0 auto;
	color: #fff;
}


.intro .inner h1{
	font-size: 24px;
	letter-spacing: 2px;
	text-align: center;
	margin: 40px auto 40px;
	font-weight: 400;
	/*font-family: 'Lora', serif;*/
}


.intro .inner p{
	
	display: block;
	/*font-family: 'Lora', serif;*/
	font-size: 12px;
	letter-spacing: 2px;
	text-align: center;

	margin: 0;

}



.work{
	padding: 180px 0 0;
}

.work .project-section{
	padding: 0;
	padding-top: 40px;
}

.work .project{
	width: 100%;
	height: 80vh;
	position: relative;
	margin-bottom: 60px;
	
}


.work .project-details .btn-default:hover, .work .project-details .btn-default:focus{
	color: #000;
}

.work .project-details{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	letter-spacing: 2px;
	

}

.work .project-details h1{
	font-weight: 400;
	font-size: 42px;
	margin-bottom: 5px;
}

.work .project-details h2{
	text-transform: uppercase;
	font-size: 15px;
	opacity: .8;
	font-weight: 400;
	margin: 0;
}

.work .project-details p{
	margin: 40px 0;
}

.work .project-details .btn-default{
	border: 2px solid #fff; 
}

.work .filmhunt{
	background: url(../img/filmhunt02.jpg);
	background-size: cover; 
}

.work .timetravel{
	background: url(../img/timetravel02.jpg);
	background-size: cover; 
	}



.title{
	font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    color: #aaa;
    
}



.about{
	padding: 180px 0 0;
}


.about .description{
	padding: 40px 0 120px;
	font-size: 18px;
	color: #777;

}


.about-page .navbar-default .navbar-brand{
	-webkit-filter: invert(100%);
    filter: invert(100%);
}



.about-bg{
	position: absolute;
	left: 0;
	padding: 0;
	z-index: -1;
}

.about .title{
	padding: 100px 15px 60px;
}

.about .team{
	background-color: #fafafa;
	padding: 0 0 120px;
}

.about .team-member{
	padding:0;
	padding-bottom: 80px;
}

.about .role{
	color: #aaa;
	font-weight: 400;
	margin-bottom: 30px;
}

.about .team .profile-pic{
	border-radius: 100%;
	
}

.about .team .name{
	font-size: 28px;
	margin-top: 30px;
}

.about .social{
	width: 45px;
	margin: 15px 4px;
	opacity: .3;
}

.about .social:hover{
	opacity: 1;
}

.contact{
	padding: 240px 0 0;
    height: 100vh;
}


.contact .contact-container{
	height: 100%;
	width: 100%;
	display: table;
	background: url(../img/bg2.jpg);
	background-size: cover;
}

.contact .contact-container .contact-inner{
	display: table-cell;
	/*vertical-align: middle;*/

}

.contact .contact-container .contact-inner .diamond-container{
	height: 400px;
	margin-top: -100px;
	padding: 0;
}

.contact .contact-container .contact-inner .diamond-container .diamond{
	height: 400px;
	width: 100%;
	position: absolute;
	padding: 0;
	box-shadow: 0px 10px 30.14px 4px rgba(0, 0, 0, 0.2);
	background-image: url(../img/contact-bg.jpg);
	background-size: cover; 
	background-position: 30% 10%; 
}

.contact .text-container{
	padding: 0 80px;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);

}

.contact .email {
	margin: 20px 0;

}

.contact .email a{
	font-size: 28px;
	color: #fff;
	font-weight: 400;
}

.contact .text{
	color: #fff;
	font-size: 20px;
}



@media (min-width: 768px) {
	.container {
		width: 750px;
	}


}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}

}
@media (min-width: 1200px) {
	.container {
		width: 1150px;
	}
}



@media (max-width: 768px) {
	.container{
		padding: 0 40px;
	}
	.navbar-brand {
		padding-left: 30px;
	}
	.navbar-right, .navbar-toggle{
		padding: 0 20px;
	}

	.navbar-right{
		background: #fff;
	}

	.navbar-default .navbar-nav>li>a{
		padding: 15px 0;
		padding-right: 15px;
		text-align: right;
	}

	.contact{
		padding-top: 80px; 
	}

	.contact .text-container{
		padding: 0 40px;
	}

	.contact .contact-container .contact-inner .diamond-container{
		margin-top: 40px;
	}

}

