h1,h2,h3,h4,h5,a,p{
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-weight: 300;
	line-height: 1.4;
	
}

.navbar{
	padding-top: 60px;
	padding-bottom: 60px;
	border:none;
	background:none;
	margin-bottom: 0;
}

.navbar-brand img{
	height: 20px;
}

.navbar-default .navbar-nav>li>a{
	font-size: 14px;
	color: #aaa;
	letter-spacing: 3px;
	padding: 15px 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	/*background-color: #2efff5;*/
	/*background-color: #eee;*/
	background:none;
	font-weight: 400;
}

.title{
	color: #aaa;
	font-size: 18px;
	padding:0;
	font-weight: 400;
 	text-transform: uppercase;
 	margin-bottom: 20px;
 	letter-spacing: 2px;
}

.work-section{
	margin-bottom: 100px;
}

.first{

}


.project-img{
	
	transition: all 0.4s ease;
	margin-top: 20px;
	padding-left: 0;
	padding-right: 30px;
	
	/*box-shadow: 0px 20px 25.4px 1.8px rgba(0, 0, 0, 0.2);*/
}

.project-img:hover{
	
	
	}

@media (max-width: 768px) {
	.project-img{
		padding: 0;
	}
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

 
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

}
@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}